.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 10;
  .tdt-infowindow-close-button {
    display: none;
  }
  .tdt-infowindow-content {
    font-size: 12px;
    margin: 6px !important;
  }
  .tdt-luopan {
    position: absolute;
    z-index: 501;
    right: 8px;
    bottom: 120px;
    border-radius: 100%;
    width: 92px;
    height: 92px;
    background: url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -22px -30px no-repeat;
    background-size: 348px 270px;
    user-select: none;
    .tdt-compass {
      top: 46px;
      left: 50%;
      position: absolute;
      margin: -24px;
      width: 48px;
      height: 48px;
      z-index: 10;
      background: url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -231px -26px no-repeat;
      background-size: 348px 270px;
      .tdt-pointers {
        position: absolute;
        width: 30px;
        height: 48px;
        top: 0;
        left: 9px;
        border: none;
        z-index: 2;
        background: url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -281px -26px no-repeat;
        background-size: 348px 270px;
      }
    }
    .tdt-pitchDown, .tdt-pitchUp {
      width: 30px;
      height: 25.5px;
      position: absolute;
      top: 3.5px;
      margin-left: -15px;
      left: 50%;
      z-index: 1;
      background: url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -302.5px -49px no-repeat;
      background-size: 348px 270px;
    }
    .tdt-pitchDown {
      top: 66px;
    }
  }

  .tdt-right .tdt-control-zoom {
    margin-right: 40px;
    margin-bottom: 10px;
    .tdt-control-zoom-in, .tdt-control-zoom-out {
      cursor: pointer;
    }
  }
  .tdt-right .tdt-control-scale {
    margin-right: 20px;
    height: 31px;
    padding: 11px 2px 0 2px;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box !important;
    .tdt-control-scale-m {
      top: 0;
    }
    .tdt-control-scale-i {
      top: 18px;
    }
  }
}
.tdt-toolbar {
  display: flex;
  position: relative;
  z-index: 401;
  padding-top: 36px;
  margin: 0 36px;
  align-items: center;
  justify-content: space-between;
}
.tdt-toolbar > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tiandi-map-search {
  display: flex;
  width: 320px;
}
.ant-spin-fullscreen {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}